@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  }

header {
  margin: 0 auto;
  width: 751px;
}
h1 {
  background: url(assets/background.png) 0% 420px;
  /* background-position: center; */
  background-size: cover; 
  padding: 1.2rem 0;
  margin: 0 1px;
}
.score-container {
  display: flex;
  justify-content: space-around;
  padding: 8px 6px;
  margin: 0px 101px 0px 101px;
  background: #5EE270;
}


